.row
  .col-md-3.col-xs-5
    %img.img-thumbnail.centered{src: "/images/185x185.png"}
  .col-md-9.col-xs-7.centered
    .row.vertically-centered
      .col-md-4
        %p.btn.btn-primary.btn-lg.active.margin-right <b> Images: #{@user.images.count}</b>
      .col-md-4
        %p.btn.btn-success.btn-lg.active.margin-right <b> Followers: #{@user.followers.count}</b>
      .col-md-4
        %p.btn.btn-danger.btn-lg.active <b> Following: #{@user.followees.count}</b>
      .row
      .row
      .row.vertically-centered
        .col-md-5.col-xs-8.col-centered
          -2.times do
            .panel
          -if @user != current_user
            -if current_user.following?(@user)
              =link_to "Unfollow", follows_path(@user), method: 'post', class: 'btn btn-success btn-lg btn-block'
            -else
              =link_to "Follow", follows_path(@user), method: 'post', class: 'btn btn-success btn-lg btn-block'
%hr
.row
  .col-md-12.centered
    -@user.images.each do |image|
      =link_to image_path(image) do
        %img.user-img-thumbs{src: image.image_url}