.row
  .col-md-4
  .col-md-4.well.text-center
    %h1 Welcome to TeaGram!
    %p Post, View and Like Photos from around the world!
    %h3 Pages to make
    %ul.list-unstyled
      %li <del>Landing Page</del>
      %li <del>Sign In Page</del>
      %li <del>Sign Up Page</del>
      %li <del>Home Page</del>
      %li <del>Current User Page</del>
      %li <del>Edit User Page</del>
      %li <del>Search Results Page</del>
      %li <del>Other User Page</del>
      %li <del>Upload Image Page</del>

    .col-center
      %button.btn.btn-primary
        Log In
      %button.btn.btn-warning
        Sign-up
  .col-md-4
